
<div id="container">
<nav>
    <button *ngFor="let song of mysongs; let i=index"
    id='{{i}}'
    (click)='onClick($event)'>{{i + 1}}</button> 
</nav>
<div id ="gridArea">
<div id='details'>
    <strong>Track Title: </strong> {{mysongs[index].title}}<br><br>
    <strong>Artist(s): </strong>{{mysongs[index].artist}}<br><br>
    <strong>Genre: </strong>{{mysongs[index].genre}}<br><br>
    <strong>Release Year: </strong>{{mysongs[index].year}}<br><br>
</div>

<div id='artwork'>
    <img src="{{mysongs[index].picture}}"/>
</div>
</div>
</div>
